# cursor
.cursor/
include/

# build/
japanese_ftparser/build/
korean_ftparser/build/
thai_ftparser/build/
common/liboceanbase_jni_common/build/

# test/java-test-script/
test/java-test-script/java/*_results/

# test text data
test/java-test-script/*_test.txt

# userinput.py
userinput.py

example/
